<div class="container">

    <div class="columns mt-4">
        <div class="column">
            <div class="card borderimg">
                <div class="card-content has-text-centered">
                    <h1 class="title is-1 text-center has-text-white">Read-Da-Book 📚</h1>
                    <form class="new-book">
                        <div class="form-group is-centered">
                            <input class="form-control form-control-lg" style="width:300px;" type="text" id="user-book"
                                name="book_name" placeholder="Enter book title"></input>
                            <p class="d-none">HEY</p>

                            <button class="btn btn-success mt-3" id="add-book" type="submit">Add to Reading
                                List</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <div class="columns">
        <div class="column">
            <div class="card list-card borderimg">
                <div class="card-content scroll">
                    <h2 class="title is-2 has-text-white">My Reading List</h2>
                    <ul class="list-group">
                        {{#each books}}
                        {{#unless wasRead}}
                        {{> books/book-block wasRead=true}}
                        {{/unless}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>

        <div class="column">
            <div class="card list-card borderimg">
                <div class="card-content scroll">
                    <h2 class="title is-2 has-text-white">My Read List ✔️</h2>

                    <ul class="list-group">
                        {{#each books}}
                        {{#if wasRead}}
                        {{> books/book-block wasRead=false}}
                        {{/if}}
                        {{/each}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>