<h1>Read-Da-Book</h1>

<form class="new-book">
    <div class="form-group">
        <input type="text" id="user-book" name="book_name"></input>

        <button class="btn btn-success" id="add-book" type="submit">Add to Reading List</button>
    </div>
</form>

<h2>My Reading List</h2>
<ul>
    {{#each books}}
    {{#unless wasRead}}
    {{> books/book-block wasRead=true}}
    {{/unless}}
    {{/each}}
</ul>

<h2>My Read List</h2>

<ul>
    {{#each books}}
    {{#if wasRead}}
    {{> books/book-block wasRead=false}}
    {{/if}}
    {{/each}}
</ul>


{{!-- <div>
    <h2>My Reading List</h2>
    <form class="book-read" class="button-size">
        <select name="id">
            {{#each books}}
            {{!#unless wasRead}}
            <option value="{{this.id}}">{{!this.book_name}}</option>
            {{!/unless}}
            {{!/each}}
        </select>

        <button class="btn btn-success" id="read-btn" data-id="{{id}}" value="1">I read
            it</button>
        <button class="btn btn-danger" id="delete-btn" data-id="{{id}}">I don't wanna read
            it</button>

    </form>


    <h2>My Read List</h2>
    <ul>
        {{!#each books}}
        {{!#if wasRead}}
        <li>
            <p> {{!book_name}} </p>
        </li>
        {{!/if}}
        {{!/each}}
    </ul>
</div> --}}